.selected {
	width: 100% !important;
}
a {
	text-decoration: none;
	color: #fff;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans';
	overflow-x: hidden;
}
.main_img {
	height: 80vh;
	background-image: url(../images/19.jpg);
	background-size: cover;
	background-position: 50% 40%;
	background-attachment: fixed;
}
.graphics {
	flex: 1;
	background: linear-gradient(-90deg, magenta, blue);
	background-size: 200% 200%;
	background-position: 60% 60%;
}
.desc {
	flex-basis: 80%;
	margin: auto;
	text-align: center;
	border-radius: 10px;
	box-sizing: border-box;
	background: linear-gradient(20deg, magenta, blueviolet);
	color: #fff;
	padding: 3% 5%;
	min-height: 60vh;
	overflow: auto;
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 100;
	box-shadow: 5px 5px 25px 0px rgba(21, 45, 32, 0.2);
}
 .desc::first-letter a {
 color: rgba(6, 188, 255, 1);
 font-size: 250%;
}
.rules {
	box-sizing: border-box;
	padding: 25px 15%;
	min-height: 350px;
	margin: auto;
	margin-top: 30px;
	max-width: 100%;
	border-radius: 10px;
	box-shadow: 4px 4px 25px 0px rgba(41, 32, 61, 0.2);
}
.contacts {
	box-sizing: border-box;
	padding: 10px 20px;
	border-top: solid 1px magenta;
	background: rgba(200, 200, 200, 1);
}
.associates {
	margin-top: 50px;
	border-top: solid 1px #06BCFF;
	background: rgb(240, 240, 240);
	box-sizing: border-box;
	padding: 10px 25px;
	margin-bottom: 10px;
	overflow: auto;
}
.bande {
	width: 500px;
	overflow: hidden;
	max-width: 100vw;
}
.bande_info {
	float: left;
	width: 210px;
	max-width: 100vw;
	margin-bottom: 10px;
	padding-left: 30px;
}
.bande_info:nth-of-type(even) {
	border-left: solid 1px #06BCFF;
}
.front {
	height: 100vh;
}
.welcome {
	text-align: center;
	font-family: 'Open Sans';
	position: relative;
}
.welcome a {
	font-size: 300%;
	text-decoration: none;
	color: dodgerblue;
}
@keyframes arrow {
 0% {
 transform: scale(0.5, 0.5) translate(0, 50%);
}
 100% {
 transform: scale(1, 1) translate(0, -50%);
}
}
.arrow_cont {
	height: 20vh;
	width: 50px;
	/*    background: red;*/
	position: absolute;
	left: 50%;/*    transform: translate(-50%, 0);*/
/*	animation: arrow 2s alternate infinite ease-in-out;*/
}
.stick {
	height: 100%;
	width: 2px;
	background: magenta;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 3px;
}
.left_spike {
	background: magenta;
	position: absolute;
	bottom: 0;
	height: 2px;
	width: 50%;
	transform-origin: right;
	transform: rotate(50deg);
	opacity: 0;
}
.right_spike {
	background: magenta;
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 2px;
	width: 50%;
	transform-origin: left;
	transform: rotate(-50deg);
	opacity: 0;
}
li {
	margin-top: 4px;
}

@media (min-width:850px) {
	.event_desc {
		display: flex;
		/*    background: lightgrey;*/
	}
	.rules {
		max-width: 80%;
	}
}

.rules h1 {
/*	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";*/
	font-family: 'Roboto';
	color: #4A5982;
}


/****************************/
/*         HEaDeR CsS      */
/****************************/

/*
.header {
	position: absolute;
	height: 50px;
	width: 50px;
	left: 50%;
	top: 15px;
	transform: translate(-50%, 0%);
	transition-duration: 1s;
	border-radius: 100%;
}
.outer_circ {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	transform: translate(-50%, -50%);
}
.header_content {
	position: absolute;
	height: 100vh;
	z-index: -1;
	opacity: 0;
	display: none;
	transition-duration: 0.5s;
}
.cross ul li {
	user-select: none;
	list-style: none;
	font-family: 'Anton', ubuntu;
	font-size: 60px;
	color: #fff;
}
ul {
	cursor: pointer;
	display: inline-block;
	margin-left: 5%;
}
.h_liner {
	height: 3px;
	width: 0px;
	background: magenta;
	transition-duration: 0.5s;
	margin-top: -15px;
}
li:hover .h_liner {
	width: 100%;
}
.exit {
	cursor: pointer;
	position: absolute;
	height: 50px;
	width: 50px;
	left: 50%;
	top: 10px;
	transform: translate(-50%, 0);
}
.l {
	position: absolute;
	height: 8px;
	width: 100%;
	bottom: 0px;
	transform-origin: left;
	margin-left: 6px;
	background: #fff;
	transition-duration: 1s;
	transform: rotateZ(-45deg);
}
.r {
	position: absolute;
	height: 8px;
	width: 100%;
	bottom: 0px;
	transform-origin: right;
	background: #fff;
	margin-left: -6px;
	transition-duration: 1s;
	transform: rotate(45deg);
}

.cross {
	max-height: 100vh;
	width: 100vw;
	overflow: auto;
	position: relative;
}
.burger {
	position: absolute;
	height: 6px;
	width: 100%;
	background: blue;
	border-radius: 3px;
}
.b-1 {
	top: 10%;
	animation: dazzle-1 3s infinite cubic-bezier(0.4, 0, 1, 1) forwards;
}
.b-2 {
	top: 36%;
	animation: dazzle-2 3s infinite cubic-bezier(0.4, 0, 1, 1) forwards;
}
.b-3 {
	top: 60%;
	animation: dazzle-3 3s infinite cubic-bezier(0.4, 0, 1, 1) forwards;
}
 @keyframes dazzle-3 {
 0% {
margin-top: 0px;
}
 10% {
margin-top: -8px;
}
 20% {
margin-top: -8px;
}
 30% {
margin-top: -8px;
}
 40% {
margin-top: -8px;
}
 50% {
margin-top: -8px;
}
 60% {
margin-top: 0px;
}
 100% {
margin-top: 0px;
}
}
@keyframes dazzle-2 {
 0% {
margin-top: 0px;
}
 10% {
margin-top: 0px;
}
 20% {
margin-top: -8px;
}
 30% {
margin-top: -8px;
}
 40% {
margin-top: -8px;
}
 50% {
margin-top:  0px;
}
 60% {
margin-top: 0px;
}
 100% {
margin-top: 0px;
}
}
@keyframes dazzle-1 {
 0% {
margin-top: 0px;
}
 10% {
margin-top: 0px;
}
 20% {
margin-top: 0px;
}
 30% {
margin-top: -8px;
}
 40% {
margin-top: 0px;
}
 50% {
margin-top: 0px;
}
 60% {
margin-top: 0px;
}
 100% {
margin-top: 0px;
}
}
.ces_logo {
	position: absolute;
	height: 80px;
	width: 80px;
	background: url(./../images/ces_logo.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 100%;
}
.mmmut_logo {
	position: absolute;
	right: 15px;
	height: 80px;
	width: 80px;
	background: url(./../images/mmmut_logo.png);
	background-size: cover;
	background-position: center;
}
*/

/*    Footer css   8*/


footer {
	min-height: 100px;
	box-sizing: border-box;
	background: linear-gradient( -45deg, #a1c4fd, #c2e9fb);
/*	background: rgba(50, 50, 50, 1);*/
	padding: 30px 0px;
	min-width: 390px;
	overflow: auto;
}

.footer_info {
	font-family: 'Open sans';
/*	color:#fff;*/
/*	letter-spacing: 3px;*/
	font-weight: bolder;
	text-align: center;
	margin-bottom: 6px;
/*	background: red;*/
}
.footer_info span {
	 color: green;
}
.footer_info.developers span::before {
	content: "<developers>";
	color: teal;
/*	font-size: 90%;*/
}
.footer_info.developers span::after {
	content: "</developers>";
	color: teal;
/*	font-size: 90%;*/
}

.footer_info.contact span::before{
	content: "<contact>";
	color: teal;
/*	font-size: 90%;*/
}
.footer_info.contact span::after{
	content: "</contact>";
	color: teal;
/*	font-size: 90%;*/
}

.burger {
	height: 40px;
	width:45px;
	cursor: pointer;
}

.b {
	width:100%;
	height: 6px;
	background: white;
	border-radius: 10px;
}
.b-1 {
	
	border-bottom-left-radius: 0; 
	border-bottom-right-radius: 0; 
}

.b-2 {
	margin: 5px 0px;
}

.b-3 {
	border-top-left-radius: 0; 
	border-top-right-radius: 0; 
}.burger_menu {
	display: none;
	margin: auto 0px;
	margin-right: 5px;
}.side_menu {
	transform: translate(110%, 0);
	transition-duration: 0.4s;
	position: absolute;
	height: 100%;
	overflow: auto;
	right: 0;
	width: 60%;
	z-index: 5;
	box-sizing: border-box;
	padding: 100px 5px;
	background: #FFF;
	display: none;
}
.side_menu li {
	list-style-type: none;
	font-family: Open Sans;
	letter-spacing: 2px;
	margin: 7px 0px;
}
.side_menu li a {
	color: rgba(36,66,83,1.00);
}

.cross {
	height: 40px;
	width: 40px;
	margin-top: -45px;
	position: relative;
	cursor: pointer;
}

.c-1 {
	height: 4px;
	width: 100%;
	background: rgba(114,66,155,1.00);
	position: absolute;
	top:50%;
	transform: rotateZ(-45deg) translate(0, -50%);
}

.c-2 {
	height: 4px;
	width: 100%;
	background: rgba(114,66,155,1.00);
	position: absolute;
	transform: rotateZ(45deg) translate(0, -50%);
	top:50%;
}
@media (max-width:818px){
	.burger_menu {
		display: block;
	}
	.menu{
		display: none !important;
	}
	.side_menu {
		display: block !important;
	}
	header {
		justify-content: space-between !important;
	}
}
